$tablet: 991.5px;
$mobile: 767.5px;
$white: #fff;
$main-bg: #f0f3f5;
$order-free: #f0f3f5;
$dark: #2c3c44;
$light-gray: #cfd8dc;
$product-serial-color: #90a4ae;
$product-date-color: #546e7a;
$main-green-color: #84bb46;
$text-border-color: #d7d9da;
// $modal-overlay: #92a3ab;
$modal-overlay: rgba(146, 163, 171, 0.5);
